<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="event_form_data_source" xsi:type="string">TrainingBackend\DevelopingAdminhtml\Model\ResourceModel\Event\Collection</item>
                <item name="schedule_form_data_source" xsi:type="string">TrainingBackend\DevelopingAdminhtml\Model\ResourceModel\Schedule\Collection</item>
                <item name="event_schedule_listing_data_source" xsi:type="string">TrainingBackend\DevelopingAdminhtml\Model\ResourceModel\Schedule\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="schedule_listing_data_source" xsi:type="string">TrainingBackend\DevelopingAdminhtml\Ui\Component\UrlRewrite\DataProvider\Schedule</item>
            </argument>
        </arguments>
    </type>
    <type name="TrainingBackend\DevelopingAdminhtml\Ui\Component\MassAction\Events\Options">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="urlPath" xsi:type="string">deveadmin/event/massregister</item>
                <item name="paramName" xsi:type="string">event_id</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="TrainingBackend\DevelopingAdminhtml\Ui\Component\UrlRewrite\DataProvider\Schedule" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">trainingbackend_developingadminhtml_schedule</argument>
            <argument name="resourceModel" xsi:type="string">TrainingBackend\DevelopingAdminhtml\Model\ResourceModel\Schedule</argument>
            <argument name="identifierName" xsi:type="string">schedule_id</argument>
        </arguments>
    </virtualType>
</config>
