<?php
return [
    'backend' => [
        'frontName' => 'admin'
    ],
    'cache' => [
        'graphql' => [
            'id_salt' => '80a6s1aPkaglUFHJznz8fYMTKoWuzbYe'
        ],
        'frontend' => [
            'default' => [
                'id_prefix' => 'e88_'
            ],
            'page_cache' => [
                'id_prefix' => 'e88_'
            ]
        ],
        'allow_parallel_generation' => false
    ],
    'remote_storage' => [
        'driver' => 'file'
    ],
    'queue' => [
        'consumers_wait_for_messages' => 1
    ],
    'crypt' => [
        'key' => '725dcbd485a7dbf7ebd3f7d0a5bc0ca4'
    ],
    'db' => [
        'table_prefix' => '',
        'connection' => [
            'default' => [
                'host' => 'localhost',
                'dbname' => 'testmagento246',
                'username' => 'testmagento2',
                'password' => 'khong',
                'model' => 'mysql4',
                'engine' => 'innodb',
                'initStatements' => 'SET NAMES utf8;',
                'active' => '1',
                'driver_options' => [
                    1014 => false
                ]
            ],
            'well_trained' => [
                'host' => 'localhost',
                'dbname' => 'well_trained',
                'username' => 'testmagento2',
                'password' => 'khong',
                'model' => 'mysql4',
                'engine' => 'innodb',
                'initStatements' => 'SET NAMES utf8;',
                'active' => '1',
                'driver_options' => [
                    1014 => false
                ]
            ]
        ]
    ],
    'resource' => [
        'default_setup' => [
            'connection' => 'default'
        ],
        'well_trained' => [
            'connection' => 'well_trained'
        ]
    ],
    'x-frame-options' => 'SAMEORIGIN',
    'MAGE_MODE' => 'developer',
    'session' => [
        'save' => 'files'
    ],
    'lock' => [
        'provider' => 'db'
    ],
    'directories' => [
        'document_root_is_pub' => true
    ],
    'cache_types' => [
        'config' => 1,
        'layout' => 1,
        'block_html' => 1,
        'collections' => 1,
        'reflection' => 1,
        'db_ddl' => 1,
        'compiled_config' => 1,
        'eav' => 1,
        'customer_notification' => 1,
        'config_integration' => 1,
        'config_integration_api' => 1,
        'full_page' => 1,
        'config_webservice' => 1,
        'translate' => 1,
        'customer_directory' => 1
    ],
    'downloadable_domains' => [
        'testmagento246.local.com'
    ],
    'install' => [
        'date' => 'Fri, 17 Mar 2023 09:13:27 +0000'
    ]
];
