<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_model_service_quote_submit_success">
        <observer name="checkout_plus_rank_roint" instance="TrainingBackend\SalesOperations\Observer\Checkout\PlusRankPoint" />
    </event>
</config>
